fastapi
uvicorn

langchain
langgraph

langchain-community
langchain-google-genai
langchain-chroma

chromadb

google-generativeai

pydantic
python-dotenv

sentence-transformers

python-multipart
tiktoken